<tool id="spring_minz" name="SPRING min-Z" version="0.1.1" python_template_version="3.5">
    <description>filter operation</description>
    <code file="spring_minz.py"/>
    <command detect_errors="exit_code"><![CDATA[
        mkdir -p inputs &&
        #for input in $inputs
            link '${str(input)}' 'inputs/${input.element_identifier}' &&
            echo '${input.element_identifier}' >> 'input_list' &&
        #end for
        #for target in $targets
            python3 '$__tool_directory__/spring_minz.py' -m '$minscore' -t '${str(target)}' -n '${target.element_identifier}' -c '$crossreference' -x '$idx' -o '$output' -l input_list -i inputs &&
        #end for
        echo 0
    ]]></command>
    <inputs>
        <param format="txt" name="targets" type="data_collection" label="Target Profiles" help="Homology search result of target/query profiles `hhr`."/>
        <param format="txt" name="inputs" type="data_collection" collection_type="list" label="Input Profiles" help="Homology search results of input profiles `hhr`."/>
        <param format="txt" name="crossreference" type="data" label="Cross Reference" help="Cross reference of interacting proteins `first_id metadata_id second_id`."/>
        <param name="minscore" type="integer" label="Score threshold" value="10" min="1" max="200" help="Matching interaction pairs with a score lower than this threshold will be excluded."/>
        <param name="idx" type="integer" label="Identifier length" value="6" min="1" max="20" help="Specify the length of the identifier e.g. `1ACB_A` has length 6."/>
    </inputs>
    <outputs>
        <data format="tabular" name="output" />
    </outputs>
    <tests>
        <test>
            <param name="targets">
                <collection type="list">
                    <element name="6W4H_A.hhr" value="6W4H_A.hhr" />
                    <element name="6W4H_B.hhr" value="6W4H_B.hhr" />
                    <element name="6W9C_A.hhr" value="6W9C_A.hhr" />
                    <element name="6W9Q_A.hhr" value="6W9Q_A.hhr" />
                    <element name="6W37_A.hhr" value="6W37_A.hhr" />
                    <element name="6WEY_A.hhr" value="6WEY_A.hhr" />
                    <element name="6WJI_A.hhr" value="6WJI_A.hhr" />
                    <element name="6WLC_A.hhr" value="6WLC_A.hhr" />
                    <element name="7BQY_A.hhr" value="7BQY_A.hhr" />
                </collection>
            </param>
            <param name="idx" value="10"/>
            <param name="inputs">
                <collection type="list">
                    <element name="6W4H_A.hhr" value="6W4H_A.hhr" />
                    <element name="6W4H_B.hhr" value="6W4H_B.hhr" />
                    <element name="6W9C_A.hhr" value="6W9C_A.hhr" />
                    <element name="6W9Q_A.hhr" value="6W9Q_A.hhr" />
                    <element name="6W37_A.hhr" value="6W37_A.hhr" />
                    <element name="6WEY_A.hhr" value="6WEY_A.hhr" />
                    <element name="6WJI_A.hhr" value="6WJI_A.hhr" />
                    <element name="6WLC_A.hhr" value="6WLC_A.hhr" />
                    <element name="7BQY_A.hhr" value="7BQY_A.hhr" />
                </collection>
            </param>
            <param name="crossreference" value="dbCAN_random.txt"/>
            <output name="output" file="dbCAN_result.txt"/>
        </test>
        <test>
            <param name="targets">
                <collection type="list">
                    <element name="NP_000282.1.hhr" value="NP_000282.1.hhr" />
                </collection>
            </param>
            <param name="inputs">
                <collection type="list">
                    <element name="NP_000282.1.hhr" value="NP_000282.1.hhr" />
                    <element name="NP_000290.2.hhr" value="NP_000290.2.hhr" />
                    <element name="NP_000548.2.hhr" value="NP_000548.2.hhr" />
                    <element name="NP_000836.2.hhr" value="NP_000836.2.hhr" />
                </collection>
            </param>
            <param name="crossreference" value="pdb70_random.txt"/>
            <output name="output" file="pdb70_result.txt"/>
        </test>
    </tests>
    <help><![CDATA[
This tool filters HH-search/HH-blits homology results through the protein interaction cross reference generated by SPRING. Putative interactions are identified by
evaluating the min-Z score. The min-Z is the smaller of the two Z-scores for a pair of sequences matching an existing protein-protein complex structure.
    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>