<tool id="spring_minz" name="SPRING min-Z" version="0.1.0" python_template_version="3.5">
    <description>filter operation</description>
    <code file="spring_minz.py"/>
    <command detect_errors="exit_code"><![CDATA[
        mkdir -p inputs &&
        #for input in $inputs:
            link '${str(input)}' 'inputs/${input.name}' &&
            echo '${input.name}' >> 'input_list' &&
        #end for &&
        python3 '$__tool_directory__/spring_minz.py' -m '$minscore' -t '$target' -c '$crossreference' -o '$output' -l input_list -i inputs
    ]]></command>
    <inputs>
        <param format="data" name="target" type="data" label="Target Sequence" help="Homology search results of query sequence `hhr`. (-t)"/>
        <param format="data" name="inputs" type="data_collection" collection_type="list" label="Input Sequences" help="Homology search results of target sequences `hhr`. (-i)"/>
        <param format="data" name="crossreference" type="data" label="Cross Reference" help="Cross reference of interacting proteins pairs. (-c)"/>
        <param name="minscore" type="integer" label="min-Z score threshold" value="10" min="1" max="100" help="Matching complex templates with a score lower than this threshold will be excluded. (-c)"/>
    </inputs>
    <outputs>
        <data format="txt" name="output" />
    </outputs>
    <tests>
        <test>
            <param name="target" value="NP_000282.1.hhr"/>
            <param name="inputs">
                <collection type="list">
                    <element name="NP_000282.1.hhr" value="NP_000282.1.hhr" />
                    <element name="NP_000290.2.hhr" value="NP_000290.2.hhr" />
                    <element name="NP_000548.2.hhr" value="NP_000548.2.hhr" />
                    <element name="NP_000836.2.hhr" value="NP_000836.2.hhr" />
                </collection>
            </param>
            <param name="crossreference" value="index.txt"/>
            <output name="output" file="result.txt"/>
        </test>
    </tests>
    <help><![CDATA[
This tool filters HH-search/HH-blits homology results through the protein interaction cross reference generated by SPRING. Putative interactions are identified by
evaluating the min-Z score. The min-Z is the smaller of the two Z-scores for a pair of sequences matching an existing protein-protein complex structure.
    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>