<tool id="spring_cross" name="SPRING Cross" version="0.1.0" python_template_version="3.5">
    <description>reference builder</description>
    <code file="spring_cross.py"/>
    <requirements>
        <requirement type="package" version="2.10.1">blast</requirement>
    </requirements>
    <command detect_errors="exit_code"><![CDATA[
        python3 '$__tool_directory__/spring_cross.py' -l '$template_list' -d '$dimer_list' -f $'fasta_file' -o '$output' -t '$__tool_directory__/temp'
    ]]></command>
    <inputs>
        <param format="tabular" name="template_list" type="data" label="Template list" help="List of all available threading template ids [format=PDBID_CHAIN]."/>
        <param format="tabular" name="dimer_list" type="data" label="Dimer list" help="List of known multimers from PDB database [format=PDBID]."/>
        <param format="fasta" name="fasta_file" type="data" label="Fasta sequences" help="FASTA file containing all template sequences [format=PDBID_CHAIN]."/>
    </inputs>
    <outputs>
        <data format="tabular" name="output" label="SPRING Cross Reference"/>
    </outputs>
    <help><![CDATA[
Creates a cross reference required as input for the SPRING min-Z calculator. Initially, the method reduces the list of available templates to entries which are 
part of known multimeric units. Then the list is expanded by adding a second a column containing all partners of the remaining templates. Finally, sequence alignments
are performed to replace all partners from the second column with entries from the list of available templates. This yields a cross reference of all known dimeric protein structure templates.
    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubhh-suite,
author = {Guerler, Govindarajoo, Zhang},
year = {2013},
title = {Mapping Monomeric Threading to Protein-Protein Structure Prediction},
publisher = {ACS Publications},
journal = {Journal of Chemical Information and Modeling},
url = {https://pubs.acs.org/doi/10.1021/ci300579r},
}
        </citation>
    </citations>
</tool>